<!-- Left navbar links -->
<ul class="navbar-nav" style="margin-left: -10px;">
    <li class="nav-item">
        <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
    </li>

    <li class="nav-item d-none d-sm-inline-block">
        <a href="/" class="nav-link">Logoff</a>
    </li>
</ul>



<!-- Right navbar links -->
<ul class="navbar-nav ml-auto">
    <li class="nav-item d-none d-sm-inline-block">
        <a class="nav-link" style="cursor: pointer;" onClick="history.go(-1)">Voltar</a>
    </li>

    <li class="nav-item d-none d-sm-inline-block">
        <a class="nav-link" style="cursor: pointer;" onCLick="history.forward()">Avançar</a>
    </li>
</ul>